<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>报名</title>
    <script src="http://code.jquery.com/jquery-1.8.3.js"></script>
</head>
<body>
<form action="" method="post" enctype="multipart/form-data" >
    <img src="../../media/invatation.jpeg" alt=""><br>
    {% csrf_token %}
    昵称：<input type="text" name="nick_name"><br>
    手机号码：<input type="text" name="phone_number"><br>
    是否携带家属：<input type="checkbox" name="city" value="其他" id="is_bring" ><br>
    <span id="familynum" style="display:none" >携带家属人数：<input  type="text" name="family_member_num"></span>
    微信号：<input type="text" name="wechat_num">
    <input type="submit" value="提交"><br>
</form>

</body>
<script type="text/javascript">
    $(function () {
        $("#is_bring").click(function () {
            if($(this).attr("checked")){
                $("#familynum").css("display","block")
            }else {
                $("#familynum").css("display","none")
            }
        })
    })
</script>
</html>


